# Introduction to Python

In [1]:
a = 1
b = 2
c = a + b
print(c)

3

In [2]:
a = 2 
c = a + b
c

4

In [3]:
a = 'santa'
b = 10
c = a * 4
c

'santasantasantasanta'

In [4]:
weight = 2000

if weight > 4000:
    print('yes')
else:
    print('no')

no

In [5]:
shopping_list = ['bread','eggs','milk','tea', 10]
shopping_list

['bread', 'eggs', 'milk', 'tea', 10]

In [6]:
for item in shopping_list:
    if item == 'bread':
        print('Found it')
    else:
        print('Not there')

Found it
Not there
Not there
Not there
Not there

In [0]:
import seaborn as sns
import pandas as pd
import numpy as np

In [31]:
from numpy import log
log(100)

4.605170185988092

In [0]:
from vega_datasets import data

In [0]:
cars_data = data.cars()

In [11]:
cars_data.head()

   Acceleration  Cylinders  Displacement  ...  Origin  Weight_in_lbs       Year
0          12.0          8         307.0  ...     USA           3504 1970-01-01
1          11.5          8         350.0  ...     USA           3693 1970-01-01
2          11.0          8         318.0  ...     USA           3436 1970-01-01
3          12.0          8         304.0  ...     USA           3433 1970-01-01
4          10.5          8         302.0  ...     USA           3449 1970-01-01

[5 rows x 9 columns]

In [12]:
cars_data.describe()

       Acceleration   Cylinders  ...  Miles_per_Gallon  Weight_in_lbs
count    406.000000  406.000000  ...        398.000000     406.000000
mean      15.519704    5.475369  ...         23.514573    2979.413793
std        2.803359    1.712160  ...          7.815984     847.004328
min        8.000000    3.000000  ...          9.000000    1613.000000
25%       13.700000    4.000000  ...         17.500000    2226.500000
50%       15.500000    4.000000  ...         23.000000    2822.500000
75%       17.175000    8.000000  ...         29.000000    3618.250000
max       24.800000    8.000000  ...         46.600000    5140.000000

[8 rows x 6 columns]

In [14]:
cars_data.sum()

Acceleration                                                     6301
Cylinders                                                        2223
Displacement                                                  79080.5
Horsepower                                                      42033
Miles_per_Gallon                                               9358.8
Name                chevrolet chevelle malibubuick skylark 320plym...
Origin              USAUSAUSAUSAUSAUSAUSAUSAUSAUSAEuropeUSAUSAUSAU...
Weight_in_lbs                                                 1209642
dtype: object

In [0]:
accelerate = cars_data.Acceleration

In [18]:
cars_data['Origin'].unique()

array(['USA', 'Europe', 'Japan'], dtype=object)

In [19]:
cars_data.Origin == 'USA'

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10     False
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20     False
21      True
22      True
23      True
24     False
25     False
26     False
27     False
28     False
29     False
       ...
376     True
377     True
378     True
379     True
380     True
381     True
382     True
383    False
384    False
385    False
386     True
387     True
388    False
389    False
390    False
391    False
392    False
393    False
394     True
395     True
396     True
397     True
398    False
399     True
400     True
401     True
402    False
403     True
404     True
405     True
Name: Origin, Length: 406, dtype: bool

In [22]:
us_cars = cars_data[cars_data.Origin == 'USA']
us_cars.head()

   Acceleration  Cylinders  Displacement  ...  Origin  Weight_in_lbs       Year
0          12.0          8         307.0  ...     USA           3504 1970-01-01
1          11.5          8         350.0  ...     USA           3693 1970-01-01
2          11.0          8         318.0  ...     USA           3436 1970-01-01
3          12.0          8         304.0  ...     USA           3433 1970-01-01
4          10.5          8         302.0  ...     USA           3449 1970-01-01

[5 rows x 9 columns]

In [23]:
us_cars.describe()

       Acceleration   Cylinders  ...  Miles_per_Gallon  Weight_in_lbs
count    254.000000  254.000000  ...        249.000000     254.000000
mean      14.942520    6.283465  ...         20.083534    3372.700787
std        2.804542    1.662883  ...          6.402892     791.695866
min        8.000000    4.000000  ...          9.000000    1800.000000
25%       13.000000    4.000000  ...         15.000000    2721.250000
50%       15.000000    6.000000  ...         18.500000    3380.500000
75%       16.700000    8.000000  ...         24.000000    4054.750000
max       22.200000    8.000000  ...         39.000000    5140.000000

[8 rows x 6 columns]

In [24]:
!ls

sample_data

In [27]:
for i, region in enumerate(cars_data.Origin.unique()):
    print(i, region)

0 USA
1 Europe
2 Japan

In [0]:
weight_check = []

In [0]:
for car_weight in cars_data.Weight_in_lbs:
    if car_weight > 4000:
        weight_check.append('Heavy')
    else:
        weight_check.append('Light')

In [0]:
cars_data['weight_chk'] = weight_check

In [38]:
cars_data.head()

   Acceleration  Cylinders  Displacement  ...  Weight_in_lbs       Year weight_chk
0          12.0          8         307.0  ...           3504 1970-01-01      Light
1          11.5          8         350.0  ...           3693 1970-01-01      Light
2          11.0          8         318.0  ...           3436 1970-01-01      Light
3          12.0          8         304.0  ...           3433 1970-01-01      Light
4          10.5          8         302.0  ...           3449 1970-01-01      Light

[5 rows x 10 columns]

In [39]:
cars_data.tail()

     Acceleration  Cylinders  Displacement  ...  Weight_in_lbs       Year weight_chk
401          15.6          4         140.0  ...           2790 1982-01-01      Light
402          24.6          4          97.0  ...           2130 1982-01-01      Light
403          11.6          4         135.0  ...           2295 1982-01-01      Light
404          18.6          4         120.0  ...           2625 1982-01-01      Light
405          19.4          4         119.0  ...           2720 1982-01-01      Light

[5 rows x 10 columns]